rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email in ['eliebarresbeavogui3@gmail.com'] ||
        request.auth.token.phone_number in ['+224629516388']
      );
    }

    match /media/{allPaths=**} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
